# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Python environment
.env
.venv
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Coverage/testing
*.coverage
htmlcov/
.tox/

